draumr
/apps/weather
/draumr/primal_norse

/cwas/node_modules/
/cwas/.astro/
/cwas/dist/
/cwas/delete/
apps/artviewer/NGArt Viewer 3/obj/
__pycache__/
*.pyc
archive/bufsimrishamn/tmp*/
archive/bufsimrishamn/out-smoke/
