@font-face {
    font-family: "Lora-Medium";
    src: url("Assets/Fonts/Lora-Medium.ttf");
  }
  
  /*   Tangerine Allura Ballet MonteCarlo Island Moments */
  
  @font-face {
    font-family: "Roboto-Light";
    src: url("Assets/Fonts/Roboto-Light.ttf");
  }
  
  @font-face {
    font-family: "Roboto-Medium";
    src: url("Assets/Fonts/Roboto-Medium.ttf");
  }
  
  @font-face {
    font-family: "Tangerine-Bold";
    src: url("Assets/Fonts/Tangerine-Bold.ttf");
  }
  
  @font-face {
    font-family: "Tangerine-Regular";
    src: url("Assets/Fonts/Tangerine-Regular.ttf");
  }
  
  @font-face {
    font-family: "Allura-Regular";
    src: url("Assets/Fonts/Allura-Regular.ttf");
  }


  html{
    box-sizing: border-box;
    font-family: "Allura-Regular", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 0.1rem;
  }

*
{
    margin: 0;
    padding: 0;
}

body{
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
    
    /* width: 100vw;
    height: auto; */

    height: 100vh;
    width: auto;
}

#content{
    display: grid;
    grid-template-columns: repeat(1, auto);
    /* justify-content: first baseline; */
    gap: 0px;
    /* flex-direction: column; */
    /* display: inline-grid; */
    /* justify-content: center;
    align-items: flex-start;  */
    height: 100%;
    width: 100%;
}

.header-div {
/* border-width: 0.2rem;
border-style: solid; */
padding-top: 2rem;
height: 17rem;
/* overflow: hidden; */
}

.header-div-content{
    
    display: flex;
    justify-content: center;
    align-items: center; 
}

#header-text {
     text-align: center;
     font-size: 1.6rem;
     border-radius: 1rem;
     padding-right: 2rem;
     padding-left: 2rem;
     /* width: 100%; */
     /* padding-left: 7rem;
     padding-right: 7rem; */
   /* margin: 3rem;
    margin-bottom: 1rem; */
    /*  z-index: 1;
        opacity: 1; */
    background-color: rgba(248, 253, 169, 0.473);
    /* border-radius: 0.5rem; */
  }

#nav-links-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 2rem;
    /* width: 100vw; */
    margin-top: 1rem;
    /* max-height: 5rem; */

    background-color: rgba(221, 250, 215, 0.705);
    /* max-height: 4rem; */
}

.nav-item {
    /* padding-right: 2rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    /* border-style: solid;
    border-width: 0.4rem; */
  
    align-items: center;
    text-align: center;
    /* font-weight: 600; */
    font-weight: bold;
    font-size: 1.4rem;
  }

  #nav-contact {
    margin-right: 0rem;
  }
  
  .menu{
    grid-column: 2/1;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    /* height: 100%; */
    /* width: auto; */
    /* width: 100%; */
    
    /* border-color: red; */
   /*  border-style: solid;
    border-width: 1rem; */
  }

  .menu-content{
    /* border-style: solid; */
    border-width: 0.1rem; 
    background-color: rgba(0, 0, 0, 0.479);
    width: 95%;
    height: 95%;
    border-radius: 1rem;
  }

  @media (max-width: 450px) {

    #nav-links-container{
        flex-direction: column;
        gap: 0;
    }

    .header-div{
        height: 22rem;
    }

    .nav-item {
        padding-top: 0.4rem;
    padding-bottom: 0.4rem;
       /*  padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem; */
    }

  }