@font-face {
  font-family: "Nillya";
  src: url("Assets/Fonts/Nillya-nRJvO.ttf");
}

@font-face {
  font-family: "Binjay";
  src: url("Assets/Fonts/Binjay-nR5D0.ttf");
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  /*  max-height: 100vh; */
  cursor: url(Assets/Cursors/Emblem.cur), auto;
  font-family: Binjay;
}

body {
  margin: 0;
  background: radial-gradient(#2b93d8, #000000);
}

h1 {
  margin: 0em;
}

.page-title {
  color: #e2ecf7;
  font-family: Nillya, serif;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
  margin-top: 0.2em;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: #bebebe;
  font-size: 3em;
}

.game-container {
  margin: 50px auto;
  margin-top: 0em;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;
}

.card {
  position: relative;
  cursor: url("Assets/Cursors/Retriver.cur"), auto;
  height: 175px;
  width: 125px;
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

.card.matched .card-front .card-value {
  animation: dance 10s linear infinite 500ms;
}

.card-back {
  background-color: black;
  border-color: none; /*  black;  */ /* #2b93d8; */
  transform: rotateY(0);
}

.cob-web {
  position: absolute;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
  width: 47px;
  height: 47px;
}

.card-face:hover .cob-web {
  width: 52px;
  height: 52px;
  transform: rotate(180deg);
}

.cats {
  align-self: flex-start;
  transition: transform 100ms ease-in-out;
  transform: translateY(-10px);
}

.card-back:hover .cats {
  transform: translateY(0);
}

.card-value {
  position: relative;
  transition: transform 100ms ease-in-out;
  transform: scale(0.9);
  height: 100%;
  width: auto;
}

.card-front:hover .card-value {
  transform: scale(1);
}

.card-front {
  background-color: #2b93d8;
  border-color: #333;
  transform: rotateY(180deg);
}

.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #2b93d8;
  font-family: Nillya, serif;
  transition: background-color 500ms, font-size 500ms;
}

.overlay-text-small {
  font-size: 0.3em;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}

@keyframes dance {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-100deg);
  }
  75% {
    transform: rotate(100deg);
  }
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 10em;
  }
}

@media (max-width: 700px) {
  .game-container {
    grid-template-columns: repeat(2, auto);
  }
  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}
